.item{
    height: 70px;
    width: 70px;
    position: absolute;
    background-color: #04e79cf6;
    border: 1px solid #04e79cf6;
}

.resizer {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 5p;
    background-color: #fff;
    border: 1px solid #04e79cf6;
    z-index: 2;
}

.resizer.nw{
    top: -1px;
    left: -1px;
    cursor: nw-resize;
}

.resizer.ne{
    top: -1px;
    right: -1px;
    cursor: ne-resize;
}

.resizer.sw{
    bottom: -1px;
    left: -1px;
    cursor: sw-resize;
}

.resizer.se{
    bottom: -1px;
    right: -1px;
    cursor: se-resize;
}


.resizer.cn{
    top: -1px;
    left: calc(50% - 5px);
    cursor: n-resize;
}

.resizer.ce {
    top: calc(50% - 5px);
    right: -1px;
    cursor: e-resize;
}

.resizer.cs{
    bottom: -1px;
    left: calc(50% - 5px);
    cursor: s-resize;
}

.resizer.cw {
    bottom: calc(50% - 5px);
    left: -1px;
    cursor: w-resize;
}
